#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(assets/Fundo.jpg);
  background-repeat: no-repeat;
}

.AmaisMenos {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  justify-content: space-evenly;

}

.Cabecalho {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px) saturate(160%) brightness(90%);
  /* Firefox nao compativel */
  box-shadow: 2px 1px 5px 3px rgb(147, 145, 145);
  height: 130px;
  width: 80vw;
  border-radius: 30px;
}

.Horario {
  width: 28rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(5px) saturate(160%) brightness(90%);
  /* Firefox nao compativel */
  box-shadow: -8px 0px 15px 3px rgb(147, 145, 145);
  border-radius: 30px;
}

.Relogio {
  width: 28rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(5px) saturate(160%) brightness(90%);
  /* Firefox nao compativel */
  box-shadow: 2px 1px 5px 3px rgb(147, 145, 145);
  border-radius: 30px;

}

.github {
  color: white;
  background-color: rgb(161, 132, 132);
}